{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maharashtra Traveller</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="{% static 'js/script.js' %}"></script>
    
    
</head>
<body>

    <video autoplay muted loop id="video-background">
        <!-- You can provide multiple video formats for compatibility -->
        <source src="{% static 'image/video.mp4' %}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      
      <!-- Your content goes here 
      <div style="position: relative; z-index: 1;">
        <h1>Welcome to My Website</h1>
        <p>This is some content on top of the video background.</p>
      </div>-->


        <!--   NAVBAR STARTS -->

      <!-- Navigation Bar style= "display: flex; justify-content: center; align-items: center;"-->
    <nav class="navbar" style="position: fixed;">
        <div class="container" >
            <!-- Logo -->
            <a href="#" class="logo"><i class='bx bxl-trip-advisor'></i>JoyJourney.</a>

            <!-- Navigation Links -->
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="#book">Book</a></li>
                <li><a href="{% url 'packages' %}">Packages</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#gallery">Gallery</a></li>
            </ul>

            <!-- Search Bar -->
            <form action="{% url 'search' %}">
            <div class="search-box">
                <input type="text" placeholder="Search..." name="keyword">
                <button>🔍</button>
            </div>
        </form>

            <!-- Login and Register Buttons -->
             
            <div class="auth-buttons">
                {% if request.user.first_name %}
 
                <a href="{% url 'login' %}" role="button"><button class="login-btn">{{request.user.first_name}}</button></a>
                <a href="{% url 'logout' %}" role="buttton"><button class="register-btn">Logout</button></a>


                {% else %}
                <a href="{% url 'login' %}" role="button"><button class="login-btn">Login</button></a>
                <a href="{% url 'register' %}" role="button"><button class="register-btn">Register</button></a>

                {% endif %}
            </div>
        </div>
    </nav>
    <!--    NAVBAR ENDS    -->


<!--Home Section starts--> 
<section class="home" id="home">
    <h1 id="heading"> JOURNEY TO EXPLORE MAHARASHTRA</h1>
<div class="div"><p id="para">Welcome to Maharashtra, a state in western India known for its rich cultural heritage, vibrant cities, diverse landscapes, and historical significance. Maharashtra offers a captivating blend of ancient traditions, modernity, and natural beauty, making it an ideal destination for travelers seeking varied experiences.
</p>
</div>
</section>
<!--Home section end-->

<!-- Book Section starts -->
<section  id="booknow">

    <div id="book">
        <div class="bok">B</div>
        <div class="bok">O</div>
        <div class="bok">O</div>
        <div class="bok">K</div>
        <div class="bok">N</div>
        <div class="bok">O</div>
        <div class="bok">W</div>
    </div>

    <div id="body">
        <div class="imggg">
            <img src="{% static 'image/book.jpg' %}" alt="">
        </div>

        <div class="imggg">
            <form action="" class="form">
                
                <div class="inputbox"> 
                    <h3>Where To Go</h3>
                    <input type="text" placeholder="search places">
                </div>
                <div class="inputbox"> 
                    <h3>How Many</h3>
                    <input type="text" placeholder="number of guests">
                </div>
                <div class="inputbox"> 
                    <h3>Arrivals</h3>
                    <input type="date" >
                </div>
                <div class="inputbox"> 
                    <h3>Leaving</h3>
                    <input type="date">
                </div>
                <input type="Submit" class="btn" value="book now">
                
             </form>
        </div>
    </div>
<!--Book Section Ends-->
<br>
<hr>
<br>
<!-- package section starts-->
<section class="package" id="package">

    <div id="packagesss">
        <div class="pack">E</div>
        <div class="pack">X</div>
        <div class="pack">P</div>
        <div class="pack">L</div>
        <div class="pack">O</div>
        <div class="pack">R</div>
        <div class="pack">E</div>
        
    </div>

<div class="box-container">
    <div class="box">
        <img src="{% static 'image/mountains.jpg' %}" alt="">
        <div class="content">
            <a style="text-decoration: none; color: black;" href="{% url 'category-detail' slug='mountains' %}">
            <h3><i class='bx bx-map'></i>Mountains</h3>
            <p>"Lost in the mountains,<br> found in the moment. 🏔️✨"</p>
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            </a>
        </div>
    </div>

    <div class="box">
        <img src="{% static 'image/beach.jpg' %}" alt="">
        <div class="content">
            <a style="text-decoration: none; color: black;" href="{% url 'category-detail' slug='beach' %}">
            <h3><i class='bx bx-map'></i>Beach</h3>
            <p>"Ocean breeze, sandy knees, <br>and endless peace. 🌊☀️"</p>
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
        </a>
            
        </div>
    </div>

    <div class="box">
        <img src="{% static 'image/adventure.jpg' %}" alt="">
        <div class="content">
            <a style="text-decoration: none; color: black;" href="{% url 'category-detail' slug='adventure' %}">
            <h3><i class='bx bx-map'></i>Adventure</h3>
            <p>"Lost somewhere between the <br>earth and the sky. 🏞️✨"</p>
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
        </a>
        </div>
    </div>

    <div class="box">
        <img src="{% static 'image/historical1.jpg' %}" alt="">
        <div class="content">
            <a style="text-decoration: none; color: black;" href="{% url 'category-detail' slug='historical' %}">
            <h3><i class='bx bx-map'></i>Historical</h3>
            <p>"Exploring history with <br>modern-day charm. 🕶️📸"</p>
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
        </a>
        </div>
    </div>

    <!--<div class="box">
        <img src="{% static 'image/img5.jpg' %}" alt="">
        <div class="content">
            <h3><i class='bx bx-map'></i>Aurangabad</h3>
            <p>known For Bibi Ka Maqbara</p>
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            <div class="price">Rs.65000</div>
            <br>
            <a href="#" class="btn">View Details</a>
        </div>
    </div>

    <div class="box">
        <img src="{% static 'image/img6.jpg' %}" alt="">
        <div class="content">
            <h3><i class='bx bx-map'></i>Khopoli</h3>
            <p>Zenith Waterfall</p>
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            <div class="price">Rs.65000</div>
            <br>
            <a href="#" class="btn">View Details</a>
        </div>
    </div>

    <div class="box">
        <img src="{% static 'image/img7.jpg' %}" alt="">
        <div class="content">
            <h3><i class='bx bx-map'></i>Nashik</h3>
            <p>Saptashringi Devi Temple</p>
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            <div class="price">Rs.65000</div>
            <br>
            <a href="#" class="btn">View Details</a>
        </div>
    </div>

    <div class="box">
        <img src="{% static 'image/img8.jpg' %}" alt="">
        <div class="content">
            <h3><i class='bx bx-map'></i>Satara</h3>
            <p>Ajinkyatara Fort</p>
            <div class="stars">
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star' ></i>
                <i class='bx bxs-star-half' ></i>
            </div>
            <div class="price">Rs.65000</div>
            <br>
            <a href="#" class="btn">View Details</a>
        </div>
    </div>-->

</div>
</section>
<!-- package section ends-->
<br>
<br>
<hr>
<br>
<br>
<!-- Services section starts-->
<section class="service" id="service">

    <div id="services">
        <div class="ser">S</div>
        <div class="ser">E</div>
        <div class="ser">R</div>
        <div class="ser">V</div>
        <div class="ser">I</div>
        <div class="ser">C</div>
        <div class="ser">E</div>
        <div class="ser">S</div>
    </div>


<div id="container">
    <div class="safety">
        <i class='bx bxs-megaphone'></i>
        <h2>Safety Guide</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, ullam delectus. Dolor laudantium fuga quia dolorum voluptas dolore delectus accusamus minima, blanditiis, numquam ea omnis deleniti ullam, consequatur debitis aperiam.</p>
    </div>
    <div class="safety">
        <i class='bx bx-world'></i>
        <h2>Passionate Travel</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quaerat blanditiis culpa deleniti velit sint amet mollitia, fugiat minus, quos dolorem quo dignissimos aliquid suscipit ipsa pariatur repellendus laudantium quidem!</p>
    </div>
    <div class="safety">
        <i class='bx bx-trip'></i>
        <h2>Adventure</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed corrupti, dolore fuga architecto ipsa animi blanditiis, aut suscipit nam repudiandae quam dolorum ut molestias veniam, quia natus laborum maxime veritatis.</p>
    </div>
</section>
<!-- Services section ends-->
<br>
<hr>
<br>
<!-- Gallery section starts-->
<section class="gallery" id="gallery">
 
    <div id="galleryyy">
        <div class="gall">G</div>
        <div class="gall">A</div>
        <div class="gall">L</div>
        <div class="gall">L</div>
        <div class="gall">E</div>
        <div class="gall">R</div>
        <div class="gall">Y</div>
    </div>

    <div class="photo">
        <div class="pht">
            <img src="{% static 'image/safety.jpeg' %}" alt="">
        </div>
        <div class="pht">
            <img src="{% static 'image/safe2.jpeg' %}" alt="">
        </div>
        <div class="pht">
            <img src="{% static 'image/safe3.jpeg' %}" alt="">
        </div>
        <div class="pht">
            <img src="{% static 'image/safe4.jpeg' %}" alt="">
        </div>
    </div>

    <div class="photo">
        <div class="pht">
            <img src="{% static 'image/safe5.jpeg' %}" alt="">
        </div>
        <div class="pht">
            <img src="{% static 'image/safe6.jpeg' %}" alt="">
        </div>
        <div class="pht">
            <img src="{% static 'image/safe7.jpeg' %}" alt="">
        </div>
        <div class="pht">
            <img src="{% static 'image/safe8.jpeg' %}" alt="">
        </div>
    </div>
</section>
<!-- Gallery section ends-->
<br>
<br>

<!-- Footer Section Starts-->
<footer class="fot">

    <div class="footer">
        <div class="foot">
            <h2>About Us</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias iusto dignissimos blanditiis.</p>
        </div>
        <div class="foot">
            <h2>Branch</h2>
            <p>Maharshtra</p>
        </div>
        <div class="foot">
            <h2>Quick Links</h2>
            <div>Home</div>
            <div>Book</div>
            <div>Packages</div>
            <div>Services</div>
            <div>Gallery</div>
        </div>
        <div class="foot">
            <h2>Follow Us</h2>
            <div>Instagram</div>
            <div>Facebook</div>
            <div>Twitter</div>
            <div>Linkedin</div>
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <p>&copy; 2024 Your Website Name. All Rights Reserved.</p>
    </div>
</footer>
<!-- Footer section End-->

   


</body>
</html>


    
